<div class="row" *ngIf="cityInfo.id">
<div class="col-3">
<h1 class="m-2 " >{{cityInfo.name}}</h1>
<table class="table mw-25 m-2">
    <tbody>
      <tr>
        <th>Nombre</th>
        <td>{{cityInfo.name}}</td>
      </tr>
      <tr>
        <th>Poblacion</th>
        <td>{{cityInfo.population | number}} /hab</td>
      </tr>
      <tr>
        <th> Wikipedia</th>
        <td><a href="{{cityInfo.wikipediaUrl}}" target="_blank">{{cityInfo.wikipedia}}</a></td>
      </tr>
    </tbody>
  </table>
  <!--<button type="button" class="btn btn-primary btn m-2">Cargar mapa</button>-->
</div>
<div class="col-3">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]='getTrustedUrl()' style="border: 1px solid black"></iframe>
</div>
</div>